<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#     #action  表当提交的地址#}
    <form action="/student/" method="post">
{#        # /根路径写法就是,不写的话就是相对路径#}
{#        {% csrf_token %}  #python,模版语法#}

        <p>
            <label for="ua">用户名：</label><input type="text" name="uname" id="'ua"/>
        </p>
        <p>
            <label for="pd">密&emsp;码：</label><input type="password" name="pwd" id="pd"/>
        </p>
        <p>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" value="注册"/>
        </p>

    </form>

</body>
</html>